@using BattleshipSimulator.Model.Engine
@using BattleshipSimulator.Panel.Data
@namespace BattleshipSimulator.Panel.Components.Player

@inject EnemyShipsService _enemyShipsService

<Card>
    <div class="d-flex flex-column">
        <PlayerSummary Class="mb-3"
                       PlayerName="@PlayerName"
                       PlayerStatus="GetPlayerStatus()"
                       EnemyShipsTotalDamageTaken="@_enemyShipsService.GetTotalDamageTaken(Player.TrackingBoard.EnemyShips)"
                       EnemyShipsTotalSize="@_enemyShipsService.GetTotalSize(Player.TrackingBoard.EnemyShips)"/>
        <div class="d-flex gap-2">
            <PlayerTrackingBoard Board="@Player.TrackingBoard"/>
            <div class="align-self-center">
                <EnemyShipsLeft DataSource="@_enemyShipsService.GetSummary(Player.TrackingBoard.EnemyShips)"/>
            </div>
        </div>
    </div>
</Card>

@code {
    [Parameter]
    [EditorRequired]
    public Player Player { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public string PlayerName { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public bool IsGameOver { get; set; }

    private PlayerStatus GetPlayerStatus()
    {
        if (IsGameOver is false)
        {
            return PlayerStatus.Playing;
        }
        return Player.HasLost ? PlayerStatus.Lost : PlayerStatus.Won;
    }
}
